@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #0a0a0a;
  overflow-x: hidden;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #8e2b27;
  border-radius: 2px;
}