@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-v31-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/great-vibes-v21-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/bebas-neue-v16-latin-regular.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #0a0a0a;
  overflow-x: hidden;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #8e2b27;
  border-radius: 2px;
}